body {
    background-color: aqua;
}

.container {
    border: 1px solid black;
    width: 50%;
    margin: 100px auto;
    background-color: aliceblue;
}

.fields {
    grid-row: 2;
    width: 100%;
}

input {
    margin-right: 14px;
}

button {
    margin-bottom: 10px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.welcome {
    margin: 17px auto;
    font-size: large;
    font-weight: 700;
    text-align: center;
    color: deeppink;
}

/* TODO FIELDS USING useRef HOOK */

.inputText {
    height: 35px;
}
.inputDate {
    height: 35px;
}
.todoFields {
    margin-left: 4px;
    margin-right: 2px;
}
.todoPage {
    margin: 20px 10px;
}
.list {
    margin-bottom: 5px;
}
