body {
    background-color: aqua;
}

.container {
    border: 1px solid black;
    width: 35%;
    margin: 100px auto;
    background-color: aliceblue;
}

.fields {
    grid-row: 2;
    width: 100%;
}

input {
    margin-right: 14px;
}

button {
    margin-bottom: 10px;
}

.heading {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.welcome {
    margin: 17px auto;
    font-size: large;
    font-weight: 700;
    text-align: center;
    color: deeppink;
}
